.main-container {
  display: flex;
  flex-direction: column;
  gap: auto;
}

.drawer-container {
  height: 100vh;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border: none;
}

mat-toolbar {
  background-color: #f4f4f4;
  box-shadow: 3px 0 15px rgba(0, 0, 0, 0.1);
  color: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.menu-title {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

mat-drawer {
  width: 260px;
  background-color: #f4f4f4;
  color: #1a1a1a;
  box-shadow: 3px 0 15px rgba(0, 0, 0, 0.1);
}

mat-list-item {
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.logout-item {
  color: #d32f2f;
  font-weight: bold;
}

.logout-item:hover {
  background-color: rgba(211, 47, 47, 0.1);
}

mat-drawer-content {
  padding: 80px 30px 30px;
  background-color: #fff;
  min-height: 100vh;
  transition: margin 0.3s ease-in-out;
}

.spacer-width {
  flex: 1 1 auto;
}

.menu-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-text {
  margin-left: 15px;
  font-size: 16px;
}

.textCenter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.space-start-height {
  height: 57px; /* Altezza della toolbar per evitare sovrapposizione */
}

.spacer-height {
  flex-grow: 1;
}
